<div>
  <mat-form-field appearance="fill">
    <mat-label>Shop Name</mat-label>
    <input matInput value="{{data.text}}" (change)="takeEditShop($event)">
  </mat-form-field>
  
  <mat-form-field class="last" appearance="fill">
    <mat-label>Spended Sum</mat-label>
    <input matInput type="text" value="{{data.sum}}" (change)="takeEditSum($event)">
  </mat-form-field>
  
  <button mat-raised-button  color = "primary" (click)="save()">Done</button>
  <button mat-stroked-button  color = "primary" (click)="cancel()" >Cancel</button>
</div>

