.contain {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.finance-container {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #3f51b5;
}

.edit-img {
  width: 30px;
  height: 30px;
}

.delete-img {
  width: 30px;
  height: 30px;
}

.finance-elem  {
  list-style: none;
  font-size: 20px;
}

button {
  margin-bottom: 5px;
}