<table mat-table [dataSource]="finances" class="mat-elevation-z8">
  <ng-container matColumnDef="Shop">
    <th mat-header-cell *matHeaderCellDef> Shop name </th>
    <td mat-cell *matCellDef="let element"> {{element.text}}</td>
  </ng-container>
  <mat-cell *matCellDef="let row; let i = dataIndex;">{{i}}</mat-cell>

  <ng-container matColumnDef="Spended Sum">
    <th mat-header-cell *matHeaderCellDef> Spended Sum </th>
    <td mat-cell *matCellDef="let element"> {{element.sum}}</td>
  </ng-container>

  <ng-container matColumnDef="Date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date}}</td>
  </ng-container>

  <ng-container matColumnDef="Actions">
    <th mat-header-cell *matHeaderCellDef> Actoins </th>
    <td mat-cell *matCellDef="let element; let i = index">
      <button mat-icon-button color="primary" (click)="openDialog(element)">
        <mat-icon>edit</mat-icon>
      </button> 
      <button mat-icon-button color="primary" (click)="delete(i)">
        <mat-icon>delete</mat-icon>
      </button>
  </td>
  </ng-container>

  <ng-container matColumnDef="No">
    <th mat-header-cell *matHeaderCellDef> No </th>
    <td mat-cell *matCellDef="let element; let i = index;">{{i+1}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayed_columns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayed_columns; let i = index"></tr>
</table>
